.navbar {
    .navbar__up {
        width: 100%;
        background-color: var(--color-black-bg);
        color: var(--text-color);
        padding: 8px 0;

        .navbar__up-right {
            width: 54%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 40%;

            >p {
                font-size: 14px;
                font-family: Satoshi;
                font-weight: 400;

                >a {
                    color: #FFF;
                    font-family: Satoshi;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration-line: underline;
                    padding-left: 5px;
                }

                /*Hover-----------------------------------*/
                >a:hover {
                    color: var(--price-color2);
                }
            }

            >img {
                cursor: pointer;
            }
        }
    }

    .navbar__down {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 38px;

        .navbar__down-logo {
            >p {
                font-family: Integral-CF;
                font-size: 32px;
                font-weight: 700;
            }

            >img {
                display: none;
            }
        }

        .navbar__down-links {
            >ul {
                display: flex;
                gap: 20px;
                align-items: center;
            }

            >ul li a {
                font-family: Satoshi;
                font-size: 16px;
                font-weight: 400;

                img {
                    background-color: var(--text-color);
                }

            }

            /*Hover---------------------------------------*/
            >ul li a:hover {
                color: var(--price-color2);
                font-weight: 600;
            }

        }

        .navbar__down-search {
            width: 37%;
            display: flex;
            align-items: center;
            margin-top: 8px;

            >button {
                padding: 7px 11px;
                background-color: rgb(77, 65, 65);
                background-color: var(--src-color);
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            >input {
                width: 90%;
                font-size: 16px;
                font-weight: 400;
                padding: 11px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                background-color: var(--src-color);
                border: none; outline: none;
            }

        }

        .navbar__down-icons {
            display: flex;
            gap: 12px;
            cursor: pointer;

            >img:nth-child(1) {
                display: none;
            }

            >img:hover {
                opacity: 0.6;
            }
        }

    }
}

.info {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);

    .info__heading {
        >h1 {
            width: 60%;
            font-family: Integral-CF;
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
            margin: 80px 0 30px 100px;
        }

        >p {
            width: 55%;
            font-family: Satoshi;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: var(--color-p);
            margin: 0 0 30px 100px;
        }

        .info__heading-button {
            width: 18%;
            padding: 16px 54px;
            justify-content: center;
            align-items: center;
            background-color: var(--color-black-bg);
            border-radius: 60px;
            margin: 0 0 45px 100px;
            cursor: pointer;

            >a {
                color: white;
                font-size: 16px;
                font-weight: 500;
                font-family: Satoshi;
            }
        }

        /*Hover---------------------------------------*/
        .info__heading-button:hover a {
            color: var(--price-color2);

        }


        .info__heading-review {
            display: flex;
            align-items: center;
            margin: 0 0 80px 100px;
            font-family: Satoshi;

            .design {
                >span {
                    font-size: 40px;
                    font-weight: 700;
                }

                >p {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-p);
                }
            }

            .info__heading-review-one,
            .info__heading-review-two {
                border-right: 1px solid var(--color-p);
                padding-right: 30px;
                margin-right: 30px;
            }
        }

    }

    .info__image {
        position: relative;
        top: 71px;
        right: 140px;

        >img:nth-child(1) {
            width: 100%;
            height: 560px;
        }

        >img:nth-child(2) {
            position: absolute;
            bottom: 300px;
            right: 440px;
        }

        >img:nth-child(3) {
            position: absolute;
            bottom: 450px;
        }
    }
}

.logo {
    background-color: var(--color-black-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 38px 100px;
}

.clothes {
    >h3 {
        text-align: center;
        font-family: Integral-CF;
        font-size: 48px;
        font-weight: 700;
        margin: 65px 0 50px 0;
    }

    .clothes__flex-cards {
        display: flex;
        justify-content: center;
        gap: 30px;

        .clothes__cards {
            width: 20%;

            >img {
                border-radius: 14px;
                transition: all 1s;
            }

            .clothes__cards-details {
                font-family: Satoshi;

                >p {
                    font-size: 20px;
                    font-weight: 700;
                    padding: 8px 0;
                }

                >span {
                    position: relative;
                    bottom: 3px;
                    left: 5px;
                    font-size: 14px;
                    color: var(--color-p);
                }
            }

            .clothes__cards-price {
                display: flex;
                align-items: center;
                gap: 10px;

                >span {
                    font-size: 22px;
                    font-family: Satoshi;
                    font-weight: 700;
                }

                >span:nth-of-type(2) {
                    text-decoration-line: line-through;
                    color: var(--price-color);
                }

                .clothes__cards-price-discount {
                    width: 58px;
                    border-radius: 62px;
                    padding: 6px 14px;
                    font-size: 12px;
                    color: var(--price-color2);
                    background-color: var(--bg-priceC);
                }
            }
        }

        /*Hover----------------------------*/
        .clothes__cards:hover img:nth-child(1) {
            transform: rotateY(180deg);
        }

        /* Update----------------------*/
        .clothes__cards--pants {
            >img {
                width: 295px;
                height: 298px;
            }
        }
    }
}


.clothes__view {
    width: 86%;
    margin: 0 auto;
    border-bottom: 1px solid var(--btn-color);
    padding-bottom: 50px;
    margin-bottom: 50px;

    .clothes__view-btn {
        width: 20%;
        margin: 35px auto;
        padding: 16px 54px;
        border-radius: 62px;
        border: 1px solid var(--btn-color);
        cursor: pointer;

        >a {
            font-family: Satoshi;
            padding-left: 40px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    /* Hover----------------------*/
    .clothes__view-btn:hover {
        background-color: var(--h-color);
    }

    .clothes__view-btn:hover a {
        font-weight: 600;
    }
}

/* Update----------------------*/
.view-end {
    border: none;
}

.dressStyle {
    width: 86%;
    margin: 0 auto;
    padding: 60px 0;
    border-radius: 40px;
    background-color: var(--src-color);

    >h2 {
        text-align: center;
        font-family: Integral-CF;
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 50px;
    }

    .dressStyle__cards {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        .dressStyle__cards-Casual img,
        .dressStyle__cards-Formal img,
        .dressStyle__cards-Party img,
        .dressStyle__cards-Gym img {
            border-radius: 20px;
            height: 289px;
            transition: all 2s;
        }

        .dressStyle__cards-Party img {
            width: 684px;
        }

        .dressStyle__cards-Gym img {
            width: 407px;
        }
    }
}

/*Hover--------------------------------*/
.dressStyle__cards-Casual:hover img,
.dressStyle__cards-Formal:hover img,
.dressStyle__cards-Party:hover img,
.dressStyle__cards-Gym:hover img {
    opacity: 0.5;
    transform: scale(0.9);
}

.container-customers {
    width: 86%;
    margin: 70px auto 20px;

    .container-customers__up {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >h3 {
            font-family: Integral-CF;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .container-customers__up-icons {
            display: flex;
            gap: 15px;
            cursor: pointer;
        }
    }

    .flex-direction {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;

        .container-customers__down {

            .container-customers__down-reply {
                width: 94%;
                border: 1px solid var(--btn-color);
                border-radius: 20px;
                padding: 28px 32px;

                .customers-name {
                    font-family: Satoshi;
                    display: flex;
                    gap: 10px;

                    >p {
                        font-size: 20px;
                        font-weight: 700;
                        padding: 15px 0;
                    }
                }

                >p {
                    font-family: Satoshi;
                    font-size: 16px;
                    color: var(--color-p);
                    font-weight: 400;
                    line-height: 22px;
                }

            }
        }
    }

}

.container-Email {
    width: 86%;
    margin: 0 auto;
    padding: 36px 64px;
    background-color: var(--color-black-bg);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 90px;

    >h3 {
        width: 50%;
        font-family: Integral-CF;
        font-size: 40px;
        font-weight: 700;
        color: var(--text-color);
    }

    .container-Email__subsrcipe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container-Email__subsrcipe-send {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 8px 70px;


            >button {
                padding: 7px 11px;
                background-color: rgb(77, 65, 65);
                background-color: var(--text-color);
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            >input {
                font-size: 16px;
                font-weight: 400;
                padding: 12px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                background-color: var(--text-color);
                border: none;
                outline: none;
            }
        }

        .container-Email__subsrcipe-button {
            width: 66%;
            background-color: var(--text-color);
            border-radius: 62px;
            cursor: pointer;

            >p {
                font-size: 16px;
                font-weight: 400;
                padding: 10px;
                font-family: Satoshi;
                text-align: center;
            }
        }

        /*Hover-----------------------------------*/
        .container-Email__subsrcipe-button:hover {
            background-color: var(--h-color);
        }

        .container-Email__subsrcipe-button:hover a {
            color: var(--text-color);
        }
    }
}

.website-foot {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: var(--src-color);

    .website-foot__shop {
        width: 86%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;

        .website-foot__shop-shopCo {
            width: 20%;

            >h3 {
                font-family: Integral-CF;
                font-size: 33.455px;
                font-weight: 700;
                padding-bottom: 25px;
            }

            >p {
                font-family: Satoshi;
                font-size: 14px;
                color: var(--color-p);
                font-weight: 400;
                line-height: 22px;
                padding-bottom: 35px;
            }

            .website-foot__shop-shopCo-icons {
                display: flex;
                gap: 10px;

                >a img {
                    width: 24px;
                    height: 24px;
                }

                >a img:hover {
                    opacity: 0.6;
                }
            }
        }

        .design-list {
            >h5 {
                font-family: Satoshi;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 3px;
                padding-bottom: 10px;
            }

            >ul li {
                padding-top: 12px;
                font-family: Satoshi;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;

                >a {
                    color: var(--color-p);
                }

                >a:hover {
                    color: var(--price-color2);
                }
            }
        }

    }

    .website-foot__end {
        width: 86%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--btn-color);
        margin-top: 30px;
        padding: 20px 0 40px 0;

        >p {
            font-family: Satoshi;
            font-size: 16px;
            font-weight: 400;
            color: var(--color-p);
        }

        .website-foot__end-badge {
            display: flex;
            gap: 10px;
        }
    }
}

@media only screen and (max-width:992px) {

    .navbar {
        .navbar__up {
            .navbar__up-right {
                width: 100%;
                justify-content: center;
                margin: 0;

                >img {
                    display: none;
                }
            }
        }

        .navbar__down {
            justify-content: space-between;

            .navbar__down-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;

                >img {
                    display: inline-block;
                    width: 22px;
                    margin-top: 6px;
                    cursor: pointer;
                }
            }

            .navbar__down-links {
                display: none;
            }

            .navbar__down-search {
                display: none;
            }

            .navbar__down-icons {
                >img:nth-child(1) {
                    display: block;
                    width: 21px;
                }
            }
        }
    }

    .info {
        flex-direction: column;
        justify-content: center;

        .info__heading {
            width: 100%;

            >h1 {
                font-size: 38px;
                line-height: 36px;
                margin: 40px 0 20px 40px;
            }

            >p {
                width: 90%;
                font-size: 14px;
                line-height: 20px;
                margin: 0 0 25px 40px;
            }

            .info__heading-button {
                width: 80%;
                margin: 20px auto;
                display: flex;
                justify-content: center;
            }

            .info__heading-review {
                flex-wrap: wrap;
                margin-bottom: 0;

                .info__heading-review-three {
                    margin-left: 24%;
                    margin-top: 20px;
                }

                .info__heading-review-two {
                    border: none;
                }
            }
        }

        .info__image {
            top: 4px;
            left: 0;

            >img:nth-of-type(3) {
                bottom: 400px;
                right: 30px;
            }
        }
    }

    .logo {
        flex-wrap: wrap;
        padding: 38px 40px;
        gap: 20px;

    }

    .clothes {
        >h3 {
            font-size: 32px;
        }

        .clothes__flex-cards {
            flex-direction: column;
            justify-content: center;  

            .clothes__cards {
                width: 50%;
                margin: 0 auto;
            }

            .clothes__cards-details {
                margin-left: 8px;
            }

            .clothes__cards:nth-of-type(3),
            .clothes__cards:nth-of-type(4) {
                display: none;
            }

        }
    }

    .clothes__view {
        padding-bottom: 20px;

        .clothes__view-btn {
            width: 90%;
            margin: 35px auto;

            >a {
                margin-left: 25%;
            }
        }
    }

    .dressStyle {
        >h3 {
            font-size: 32px;
        }

        .dressStyle__cards {

            .dressStyle__cards-Casual,
            .dressStyle__cards-Formal,
            .dressStyle__cards-Gym,
            .dressStyle__cards-Party {
                >img {
                    width: 360px;
                    margin: 0 auto;
                }
            }
        }
    }

    .container-customers {
        .container-customers__up {
            >h3 {
                font-size: 32px;
            }
        }

        .flex-direction {

            .container-customers__down:nth-of-type(2),
            .container-customers__down:nth-of-type(3) {
                display: none;
            }
        }
    }

    .container-Email {
        flex-direction: column;
        padding: 30px 44px;
        top: 120px;

        >h3 {
            width: 90%;
            font-size: 32px;
            line-height: 35px;
            padding-bottom: 12px;
        }
    }

    .website-foot {
        .website-foot__shop {
            flex-wrap: wrap;

            .website-foot__shop-shopCo {
                width: 80%;
                margin-bottom: 20px;

                >h3 {
                    font-size: 28px;
                }
            }

            .design-list {
                width: 50%;
                margin-bottom: 20px;

                >ul li {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        .website-foot__end {
            flex-direction: column;
            gap: 18px;
        }
    }
}